* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nixie One", cursive;
}
a {
  text-decoration: none;
  color: inherit;
}

/* font-family: 'Libre Baskerville', serif;  for heading */
/* font-family: 'Nixie One', cursive;  for paragraph and navs*/
